# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
*.slnx.docstates

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
wheels/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/
*.coveragerc


# OS
Thumbs.db
.DS_Store

checkpoints/
*.json